In [1]:
#Cell 1
import pandas as pd
import sqlite3

In [2]:
#Cell 2
#Read products.csv
df = pd.read_csv('products.csv')
df.head()

,product_id,product_name,ounces,price,brand,stock_quantity
0,1,Frosted Flakes,24.0,3.98,Kellogg’s,53
1,2,Special K Fruit and Yogurt,19.1,3.88,Kellogg’s,13
2,3,Raisin Bran,24.0,3.80,Kellogg’s,57
3,4,Frosted Flakes,13.5,2.98,Kellogg’s,23
4,5,Froot Loops,19.4,3.98,Kellogg’s,45

In [3]:
#Cell 3
#Create SQL Table using products.csv
with open('grocery.sql', mode='w') as grocery:
    grocery.write('DROP TABLE IF EXISTS Products;\n')
    grocery.write('CREATE TABLE Products (product_id INT, product_name TEXT, ounces INT, price INT, brand TEXT, stock_quantity INT);\n')
    grocery.write('INSERT INTO Products (product_id,product_name,ounces,price,brand,stock_quantity) VALUES\n')
    for i in range(df.shape[0]):
        grocery.write('('+str(df.iloc[i]['product_id'])+',')
        grocery.write('\''+df.iloc[i]['product_name']+'\',')
        grocery.write(str(df.iloc[i]['ounces'])+',')
        grocery.write(str(df.iloc[i]['price'])+',')
        grocery.write('\''+df.iloc[i]['brand']+'\',')
        grocery.write(str(df.iloc[i]['stock_quantity'])+')')
        if i < df.shape[0]-1:
            grocery.write(',\n')
        else:
            grocery.write(';\n')

In [4]:
#Cell 4
#Create database and establish connection
!sqlite3 grocery.db < ./grocery.sql

connection = sqlite3.connect('grocery.db')

pd.read_sql('SELECT * FROM Products', connection).head()

,product_id,product_name,ounces,price,brand,stock_quantity
0,1,Frosted Flakes,24.0,3.98,Kellogg’s,53
1,2,Special K Fruit and Yogurt,19.1,3.88,Kellogg’s,13
2,3,Raisin Bran,24.0,3.80,Kellogg’s,57
3,4,Frosted Flakes,13.5,2.98,Kellogg’s,23
4,5,Froot Loops,19.4,3.98,Kellogg’s,45

In [5]:
#Cell 5

cf = df.drop(['price', 'brand', 'stock_quantity'], axis = 1)

In [6]:

cf = cf.set_index('product_id')
cf

                                  product_name  ounces
product_id
1                               Frosted Flakes   24.00
2                   Special K Fruit and Yogurt   19.10
3                                  Raisin Bran   24.00
4                               Frosted Flakes   13.50
5                                  Froot Loops   19.40
6                                   Wheat Chex   19.00
7                               Fruity Pebbles   15.00
8                        Cinnamon Toast Crunch   12.00
9                                   Oat Crunch   18.00
10                    Frosted Flakes Chocolate   24.70
11                         Frosted Mini Wheats   24.00
12                          Honey Nut Cheerios   29.40
13                                   All Bran    18.60
14                          Honey Nut Cheerios   10.80
15                   Almond Crunchy Honey Oats   18.00
16                               All Bran Buds   22.00
17                       Honey Bunches of Oats   18.00
18                          Honey Nut Cheerios   18.80
19               Frosted Shredded Wheat Cereal   24.00
20                                   Honeycomb   16.00
21                          Crunchy Honey Oats   18.00
22                        Life Cereal Cinnamon   18.00
23                                 Life Cereal   19.00
24                                        Trix   10.70
25                       Cinnamon Toast Crunch   29.10
26                              Fruity Pebbles   20.50
27                               Cocoa Pebbles   20.50
28                                 Bran Flakes   15.60
29                               Reese’s Puffs   11.50
30          Honey Bunches of Oats with Almonds   18.00
31                Special K Vanilla and Almond   18.80
32                            Cinnamon Crunch    20.25
33                       Cinnamon Toast Crunch   18.80
34                                  Grape-Nuts   29.00
35                    Froot Loops Marshmellows   18.70
36                               Rice Krispies   24.00
37                          Raisin Bran Crunch   22.50
38                        Life Cereal Cinnamon   22.30
40                                 Raisin Bran   25.00
41                                 Corn Flakes   24.00
42          Honey Bunches of Oats with Almonds   23.00
43                       Special K Red Berries   16.90
44                                    Wheaties   15.60
45                      Total Breakfast Cereal   16.00
46                           Special K Protein   19.00
47                 Oatmeal Squares Brown Sugar   21.00
48                                Lucky Charms   29.10
49                             Raisin Nut Bran   20.80
50                                       Krave   17.30
51                              Cocoa Krispies   22.40

In [7]:
#Cell 5
print('############################')
print('#   Walmart Cereal Aisle   #')
print('############################')
continueProg = True
while (continueProg):
    print('\n')
    print('[Q] Quit')
    print('[M] Manager Reports')
    print('[P] Purchase Cereal')
    choice = input('Select menu: ')
    if choice == 'Q': 
        continueProg = False
        
    #Manager Reports Menu    
    elif choice == 'M':
        password = input('Please enter password: ')
        if password == '1234':
            cm = True
            while(cm):
                
                print('[1] Calculate average price')
                print('[2] Calculate total stock')
                print('[3] Display Cereal with Stock < 10')
                print('[4] Display Cereal with Stock > 100')
                print('[5] Print the entire records')
                print('[6] Print a subset of the cereals based on price')
                print('[7] Print Record for Certain Cereal')
                print('[8] Type your own query')
                print('[B] Go Back')
                print('[Q] Quit')
                choice = input('Select Report: ')
                if choice == 'Q':
                    continueProg = False
        
        
                #Displays the average price of all the cereal options
                elif choice == '1':
                    display(pd.read_sql('SELECT AVG(price) FROM products', connection))
                
                #Displays total stock quantity
                elif choice == '2':
                    display(pd.read_sql('SELECT SUM(stock_quantity) FROM products', connection))
                
                #Displays cereal with stock < 10
                elif choice == '3':
                    display(pd.read_sql('SELECT * FROM products WHERE stock_quantity < 10 ', connection))
                
                #Displays cereal with stock > 100
                elif choice == '4':
                    display(pd.read_sql('SELECT * FROM products WHERE stock_quantity >100', connection))
        
                #Displays the whole database
                elif choice == '5':
                    display(pd.read_sql('SELECT * FROM products', connection))
        
                #Displays the cereals with a price lower than a certain amount
                elif choice == '6':
                    priceub = input('Enter price upper bound: ')
        
                    display(pd.read_sql("""SELECT * FROM products WHERE price <= ' """ + priceub + """ ' """, connection))
            
                #Displays a single record of cereal
                elif choice == '7':
                    display(cf)
                    pid = input('Which product? ')
                    display(pd.read_sql("""SELECT * FROM products WHERE product_id = ' """ + pid + """ ' """, connection))
                
                #User inputed query
                elif choice == '8':
                    user = input('Write query: ')
                    display(pd.read_sql("""""" + user+"""""" ,connection))
                    
                #Goes back to main menu
                elif choice == 'B':
                    cm = False
        
                else:
                    print('Invalid menu choice. Enter again.')
        else:
            print('Invalid Password')
    
    #Customer Purchasing Menu
    elif choice == 'P':
        display(cf)
        item_count = 0
        total = 0
        item_price = 0
        
        continueBuy = True
        while(continueBuy):
            
            print('\n')
            print('[Q] Quit')
            purchase = input('Please enter the ID of the product you would like to buy: \n')
            
            if purchase == 'Q':
                continueBuy = False
            
            #Asks customer what product they want to buy. Updates total amount of products and counts total price.
            
            else:
                
                #Stops customer from choosing input not in dataframe.
                if int(purchase) >= 50 or int(purchase) < 0:
                    print('Invalid choice')
                
                else:
                
                    amt = input('How many would you like? \n')
                    quantity = pd.read_sql("""SELECT stock_quantity FROM products WHERE product_id = ' """ + purchase + """ ' """, connection)
                    
                    #Prevents customer from buying product not in stock.
                    if int(amt) > int(quantity['stock_quantity']):
                        print('Not enough product in store')
                
                    #Updates item count and total price.
                    else:
                        item_count += int(amt)
                        item_price = pd.read_sql("""SELECT Price FROM products WHERE product_id = ' """ + purchase + """ ' """, connection)
                        item_price = item_price.iloc[0]
                        item_total = item_price * int(amt)
                        total += item_total
                
                        print('The total boxes of cereal in your cart is: ' + str(item_count)+'\n')
                        
                
                        print('Your total ' + str(total))
                        
                
                        #Updating stock quantity in SQL file
                        cursor = connection.cursor()
                        cursor = cursor.execute("""UPDATE products SET stock_quantity = stock_quantity - ' """ + amt + """ ' WHERE product_id = ' """ + purchase + """ ' """)
        

        
    else:
        print('Invalid menu choice. Enter again.')

############################
#   Walmart Cereal Aisle   #
############################


[Q] Quit
[M] Manager Reports
[P] Purchase Cereal
Invalid menu choice. Enter again.


[Q] Quit
[M] Manager Reports
[P] Purchase Cereal

                                  product_name  ounces
product_id
1                               Frosted Flakes   24.00
2                   Special K Fruit and Yogurt   19.10
3                                  Raisin Bran   24.00
4                               Frosted Flakes   13.50
5                                  Froot Loops   19.40
6                                   Wheat Chex   19.00
7                               Fruity Pebbles   15.00
8                        Cinnamon Toast Crunch   12.00
9                                   Oat Crunch   18.00
10                    Frosted Flakes Chocolate   24.70
11                         Frosted Mini Wheats   24.00
12                          Honey Nut Cheerios   29.40
13                                   All Bran    18.60
14                          Honey Nut Cheerios   10.80
15                   Almond Crunchy Honey Oats   18.00
16                               All Bran Buds   22.00
17                       Honey Bunches of Oats   18.00
18                          Honey Nut Cheerios   18.80
19               Frosted Shredded Wheat Cereal   24.00
20                                   Honeycomb   16.00
21                          Crunchy Honey Oats   18.00
22                        Life Cereal Cinnamon   18.00
23                                 Life Cereal   19.00
24                                        Trix   10.70
25                       Cinnamon Toast Crunch   29.10
26                              Fruity Pebbles   20.50
27                               Cocoa Pebbles   20.50
28                                 Bran Flakes   15.60
29                               Reese’s Puffs   11.50
30          Honey Bunches of Oats with Almonds   18.00
31                Special K Vanilla and Almond   18.80
32                            Cinnamon Crunch    20.25
33                       Cinnamon Toast Crunch   18.80
34                                  Grape-Nuts   29.00
35                    Froot Loops Marshmellows   18.70
36                               Rice Krispies   24.00
37                          Raisin Bran Crunch   22.50
38                        Life Cereal Cinnamon   22.30
40                                 Raisin Bran   25.00
41                                 Corn Flakes   24.00
42          Honey Bunches of Oats with Almonds   23.00
43                       Special K Red Berries   16.90
44                                    Wheaties   15.60
45                      Total Breakfast Cereal   16.00
46                           Special K Protein   19.00
47                 Oatmeal Squares Brown Sugar   21.00
48                                Lucky Charms   29.10
49                             Raisin Nut Bran   20.80
50                                       Krave   17.30
51                              Cocoa Krispies   22.40

[Q] Quit
The total boxes of cereal in your cart is: 6

Your total price    23.88
Name: 0, dtype: float64


[Q] Quit

ValueError: invalid literal for int() with base 10: ''